            body {
                box-sizing: border-box;
                font-family: 'Poppins', sans-serif;
                margin: 0;
            }
            
            h1 {
                font-size: 50px;
            }
            
            h2 {
                font-size: 40px;
            }
            
            .container {
                display: flex;
                margin-bottom: 140px;
                flex-wrap: wrap;
            }
            
            .hero-section {
                 background-image: url(images/hero-banner.png);
                 background-repeat: no-repeat;

            }
            .dream-section {
                background-image: url(images/dream-bg.png);
                background-repeat: no-repeat;
                background-position:right bottom ; 
                

           }
           
            .half-width {
                flex:1 1 45%;
                /* width: 50%; */
                padding: 2%;
            }
            
            .half-width img {
                width: 90%;
            }
            
            .high-ligth {
                color: rgb(43, 121, 238);
            }
            
            .button {
                text-decoration: none;
                background-image: linear-gradient(to right, orange, tomato);
                padding: 10px 30px;
                color: white;
                font-weight: 700;
                border-radius: 5px;
                margin: 10px 0;
                
            }
            .exp-content {
                display: flex;
            }
            .exp-content{
                background-image: url(images/exp-bg.png);
                background-repeat: no-repeat;
               background-position: left center;
            }
            .exp-item {
                width: 40%;
                margin: 0 3% 0 3%;
                padding: 10px;
                padding-left: 30px;
                border-radius: 10px;
                box-shadow: 10px 10px 40px grey;
            }
            
            .div1 {
                border-left: 6px solid;
                border-image: linear-gradient(blue, cyan);
                border-image-slice: 1;
            }
            
            .div2 {
                border-left: 6px solid;
                border-image: linear-gradient(purple, tomato);
                border-image-slice: 1;
            }
            
            footer p {
                text-align: center;
            }